body {
                text-align: center;
            }

            form{
                display: inline-block;
                text-align: center;
            }
#specials {
  width: 80%;
  height: 80vh;
  overflow: scroll;
  position: fixed;
  top: 10vh;
  left: 10%;
  text-align: center;
  border: 2px solid blue;
  background-color: #aaf;

}
